body{
    margin: 0px;
    padding: 0px;
    background-color: #eee7e7;
    
}
.barcode{
    height: 60px;
    background-color: rgb(32, 28, 28);
    display: flex;
    align-content: center; 
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    

  
  
}
.flogo{
    height: 50px;
    width: 100px;
  
}
.logo{
    background-image: url("amajon5.jpeg");
  
    margin-top: 15px;
    height: 50px;
    width: 100%;
    background-size:contain; 
    background-repeat: no-repeat;
    
    
   
}
.bordr:hover{
    border: 2px solid white;

}
.col{
    color: white;
}
.sec{
    font-size: 12px;
    color: #cccccc;
}
.thir{
    font-size: 14px;
    color: #ffffff;

}
.se{
    height: 40px;
    width: 87px;
    padding-left: 17px;
    padding-top: 10px;
   
} 
.sec{
  
  padding-left: 14px;
}
.sel{
    height: 40px;
    width: 50px;
    color:rgb(17, 14, 19);
    background-color: rgb(245, 242, 242);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.sel:hover{
    background-color: rgb(216, 214, 214);
    color: black;
}



input{
    width: 679px;
    height:16px;
    padding: 10px 10px 10px 0px;
    font-size:17px;
}
.sae{
    display: flex;
    justify-items: center;
    align-items: center;
}

.ser:active{
    margin-left: 0px;
    margin-right: 0px;
}
 

.sae:active{
    height: 40px;
    border: 3px solid rgb(252, 183, 94);
    border-radius: 8px;
    
}
button{
    height:42px;
    width: 45px;
    background-color: rgb(252, 183, 94);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20.5px;
    margin-left: 0px;
}
button:hover{
    background-color: rgb(252, 173, 71);;
}
.sy{
    background-image: url("iflag.png");
    height: 40px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 22px;
    margin-left: 6px;

}
.con{
    height: 45px;
    width: 75px;
    margin-left: 18px;
    display: flex;
   
    align-items: center;
   
}
.lan{
    height: 20px;
    width: 40px;
    background-color: rgb(32, 28, 28);
    color: aliceblue;
    font-size: 10px;
    border: none;
    font-size: 15px;
}
.si{
    color: #ffffff;
}
.ac{
    background-color:rgb(32, 28, 28) ;
    border: none;
    font-size: 14px;
    font-weight: bolder;
    
}
.hel{
    padding-left: 7px;
    font-size: 12px;
    font-weight: bolder;
}
.fac{
    margin-left: 20px;
    height: 45px;
    padding-top: 5px;
}
.fre{
    padding-top: 4px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left: 18px;
    height: 40px;
    width: 68px;
    align-content: center; 

   
}
.or{
    padding-left: 5px;
     font-size: 14px;
    font-weight: bolder; 
}
.re{
    font-size: 12px;
}
.sym{
    font-size: 28px;
    margin-left: 24px;
    padding-bottom: 2px;
}
.fsym{
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
}
.shop{
    color: #ffffff;
    padding-top: 12px;
    padding-left: 3px;
    font-size: 18px;
    font-weight: bolder;
}
                                                     /* body part of project */
.bod{
    background-image: url("bg.jpg");
    background-size:contain;
    height: 650px;
    background-repeat: no-repeat;
   
}
.mbar{
    height: 40px;
    background-color: #313444;
}
.k{
    color: #ffffff;
    margin-right: 10px;
    font-size: 14px;
    margin-left: 10px;
}
.al{
    color:#ffffff;
    font-size: 14px;
    margin-right: 20px;
    margin-left: 3px;
    font-weight: bolder;
    padding-top: 2px;
}
.mbar{
    display: flex;
    align-items: center;
}
.fs{
    display: flex;
    margin-left: 20px;

}
.pai{
    height: 17px;
    width: 14px;
    font-weight: bolder;
}
.ii:hover{
    border: 2px solid white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
                                                   /* box part of code */ 
.rfbox{
    height: 350px;
    width: 350px;
    background-color:white;
} 
.tst{
    font-size: 21px;
    font-weight: bolder;
    padding-left: 20px;
    padding-top: 15px;
}
.ssbox{
    
    /* background-image: url("dini.jpg"); */
    background-size: contain;
    background-repeat: no-repeat;
    height: 120px;
   
    width: 150px;
}  
.ffbox{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    

    
} 
.mbox{
    margin-top: 250px;

} 
.fbox{

    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}     
.bod{
    
    height: 1000px;
}
.lo{
    height: 180px;
    background-color: #ffffff;
    margin-top: 60px;
}
.ls{
    height: 28px;
    width:230px ;
    font-size: 14px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-weight: bolder;
}
.lf{
    font-size: 15px;
    padding-left: 2px;
    font-weight:500;
    padding-bottom: 5px;
}
.lt{
    font-size: 14px;
    padding-left: 40px;
    
    padding-top: 5px;
    
}
a{
    text-decoration: none;
    color: #007185;
   
 }                                    /*          last bar */
.lo{
    display:grid;
    justify-content: center;
    align-content: center;
   
    
}
.lb{
    height: 49px;
    background-color:#32374d ;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.lb:hover{
    background-color: #313444;
}
.lba{
    color: #ffffff;
}
                                              /* ultra last */
.las{
    background-color:#222635;
    height: 325px;
    display: flex;
    justify-content: space-evenly;
    
}
.lst{
    margin-top: 30px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bolder;
}
.lft{
    color: #dddddd;
    font-size: 14px;
    
}
.lftt{
    padding-top: 10px;

}
.lft:hover{
    text-decoration: underline;
}